@model IEnumerable<ConfectioneryManagementApp.Models.ViewModels.CakesViewModel>

@{
    ViewData["Title"] = "Torty";
}

<h2>Zamówione torty</h2>

@await Html.PartialAsync("_DateFilterPartial")

<table class="table table-striped table-bordered mt-3">
    <thead>
    <tr>
        <th>Smak</th>
        <th>Rozmiar</th>
        <th>Data realizacji</th>
        <th>Klient</th>
        <th>Dekoracja</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var cake in Model.OrderBy(c => c.Flavor))
    {
        <tr>
            <td>@cake.Flavor</td>
            <td>@cake.Size</td>
            <td>@cake.DeliveryDate.ToShortDateString()</td>
            <td>@cake.ClientName</td>
            <td>@cake.DecorationDescription</td>
        </tr>
    }
    </tbody>
</table>