@model ConfectioneryManagementApp.Models.ViewModels.CreateOrderViewModel
@using Microsoft.AspNetCore.Mvc.Rendering
@using ConfectioneryManagementApp.Models.Entities

@{
    ViewData["Title"] = "Nowe zamówienie";
    var pastries = ViewBag.Pastries as List<PastryEntity> ?? new List<PastryEntity>();
    var cakes = ViewBag.Cakes as List<CakeEntity> ?? new List<CakeEntity>();
}

<div class="orders-form">

    <h2>Nowe zamówienie</h2>

    <form asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="form-label mb-3">
            <label>Imię i nazwisko</label>
            <input asp-for="ClientName" class="form-control" />
            <span asp-validation-for="ClientName" class="text-danger"></span>
        </div>
        <div class="form-label mb-3">
            <label>Telefon</label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-label mb-3">
            <label>Data odbioru</label>
            <input asp-for="DeliveryDate" class="form-control" type="date" />
            <span asp-validation-for="DeliveryDate" class="text-danger"></span>
        </div>
        <div class="form-label mb-3">
            <label>Opis dekoracji</label>
            <textarea asp-for="DecorationDescription" class="form-control"></textarea>
            <span asp-validation-for="DecorationDescription" class="text-danger"></span>
        </div>
        <div class="individual-form-label">
            <div class="form-label mb-3">
                <label><b>Ciasta</b></label><br />
                @foreach (var p in ViewBag.Pastries)
                {
                    <label><input type="checkbox" name="SelectedPastryIds" value="@p.Id" /> @p.Name</label><br />
                }
            </div>
            <div class="form-label mb-3">
                <label><b>Torty</b></label><br />
                @foreach (var c in ViewBag.Cakes)
                {
                    <label><input type="checkbox" name="SelectedCakeIds" value="@c.Id" /> @c.Flavor @c.Size</label><br />
                }
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Zapisz</button>
        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
