@model IEnumerable<ConfectioneryManagementApp.Models.ViewModels.OrderViewModel>

@{
    ViewData["Title"] = "Lista zamówień";
}

<h2>Lista zamówień</h2>

<form method="get" class="mb3">
    <div style="display: flex; gap: 1rem; align-items: flex-end;">
        <div>
            <label for="startDate">Data od:</label><br />
            <input type="date" id="startDate" name="startDate" class="form-control" />
        </div>
        <div>
            <label for="endDate">Data do:</label><br />
            <input type="date" id="endDate" name="endDate" class="form-control" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Filtruj</button>
        </div>
    </div>
</form>

<table class="table table-striped table-bordered mt-3">
    <thead>
    <tr>
        <th>Imię i nazwisko</th>
        <th>Telefon</th>
        <th>Data odbioru</th>
        <th>Ciasta</th>
        <th>Torty</th>
        <th>Zrealizowano</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.ClientName</td>
            <td>@order.PhoneNumber</td>
            <td>@order.DeliveryDate.ToShortDateString()</td>
            <td>
                @if (order.Pastries.Any())
                {
                    <ul>
                        @foreach (var cake in order.Pastries)
                        {
                            <li>@cake</li>
                        }
                    </ul>
                }
                else
                {
                    <span>-</span>
                }
            </td>
            <td>
                @if (order.Cakes.Any())
                {
                    <ul>
                        @foreach (var cake in order.Cakes)
                        {
                            <li>@cake</li>
                        }
                    </ul>
                }
                else
                {
                    <span>-</span>
                }
            </td>
            <td>
                @if (order.IsCompleted)
                {
                    <span class="text-success">Tak</span>
                }
                else
                {
                    <span class="text-danger">Nie</span>
                }
            </td>
            <td>
                <a href="@Url.Action("Edit", "Orders")" class="btn btn-sm btn-warning">Edytuj</a>
            </td>
        </tr>
    }
    </tbody>
</table>
